config ccli 'main'
	option enabled '1'
	option config_file '/etc/ccli/lab.yaml'

config pf2 'pf2'
	option threshold_kw '900'
	option release_threshold_kw '850'
	option debounce_s '30'
	option stale_data_s '10'
	option min_on_s '60'
	option min_off_s '30'

config io 'plant'
	# Runtime I/O comes from YAML (see ccli.main.config_file). Values below = TG544 lab map.
	option do_curtail_gpio '1'
	option do_curtail_active_high '0'
	option di_permissive_gpio '2'
	option di_permissive_active_low '1'
	# Lab relay self-test blink count. 0 = disabled (safe default for field).
	option gpio_lab_blink '0'
